<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
			<div class="col-lg-12 mt-4">
				    <button class="btn btn-outline-primary activeButtons all active" onclick="">All</button>
					<button class="btn btn-outline-primary mx-1 activeButtons officer" >Officer</button>
					<button class="btn btn-outline-primary mx-1 activeButtons employee">Employee</button>
					<button class="btn btn-outline-primary mx-1 activeButtons contractor" >Contractor</button>
					<button class="btn btn-outline-primary mx-1 activeButtons contractor_workman">Contractor_workman</button>
					<button class="btn btn-outline-primary mx-1 activeButtons gat" >Gat</button>
					<button class="btn btn-outline-primary mx-1 activeButtons tat" >Tat</button>
					<button class="btn btn-outline-primary mx-1 activeButtons feg" >Feg</button>
					<button class="btn btn-outline-primary mx-1 activeButtons sec" >Sec</button>
			</div>
</section>
</body>
</html>>