<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}"></script>
    <title>Driver</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>
    <section>
        <style>
            .image-container {
                text-align: center;
                position: relative;
            }

            .image-id {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 5px;
            }
        </style>
        <div class="row">
            <div class="mt-5 ms-3 mb-5  d-flex ">
                <div class="col-sm-3">
                    <input type="number" name="visitor_count" id="visitor_count" class="form-control ms-3" placeholder="Enter Number of Visitor" required />
                </div>
                <div class="col-sm-1">
                    <input type="button" id="mysubmit" value="Add Visitor" class="btn btn-primary ms-5" onclick="addVisitor()" required />
                </div>
            </div>
            <div id="visitor_fields" class="mt-3 ms-3" style="display: none;"></div>
        </div>
        <div class="row mb-4">
            <div th:each="visitor : ${visitorDetails}" class="col-lg-2 col-md-3 col-sm-6 mb-3">
                  <div class="card mb-4 ms-2 d-flex flex-column" style="height: 300px;">
            		<div class="card-body text-center" style="flex-grow: 1; min-height: 150px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
				
						
						<div class="badge-container" style="height: 30px; margin-bottom: 10px;">
					  		<div class="badge badge-danger my-1 rounded text-center font-weight-bold text-white bg-danger" th:if="${#lists.contains(inscanDetailsForVisitor.![ofcid], visitor.id) && #lists.contains(inscanDetailsForVisitor.![name], visitor.fullName)}"style="font-size:15px">
	                           Already in Plant
	                        </div>
                        </div>
                        <div class="image-container">
                            <img src="img/visitor_cylinder.png" alt="Dacked Cylinder Image" class="img-fluid" />
                            <h5 class="image-id" th:text="${visitor.id}">ID: 123</h5>
                        </div>
                        
                        <!-- Operator Name -->
                        <th:block th:if="${not #strings.isEmpty(visitor.fullName)}">
                            <div class="operator-name" style="font-size: 12px; font-weight: bold;">
                                <label th:text="${visitor.fullName}"></label>
                            </div>
                        </th:block>
                    </div>
                    <div class="text-center">
                        <!-- Add or Edit Buttons -->
                        <th:block th:if="${#strings.isEmpty(visitor.fullName)}">
                            <a th:href="@{/visitorDetails(visitorId=${visitor.id}, action=add)}" class="btn btn-primary mb-2" style="width: 150px;">
                                <i class="fa fa-plus" aria-hidden="true" style="font-weight: bold;"></i>&nbsp;Add
                            </a>
                        </th:block>
                        <th:block th:if="${not #strings.isEmpty(visitor.fullName)}">
                            <a th:href="@{/visitorDetails(visitorId=${visitor.id}, action=edit)}" class="btn btn-primary mb-2" style="width:150px;">
                                <i class="fa fa-edit" style="font-weight: 900;"></i>&nbsp;Edit
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:inline="javascript">
  var visitorData = [];
            var currentCount = 0;

            function addVisitor() {
                visitorData = [];
                var visitorCount = parseInt(document.getElementById('visitor_count').value);
                var visitorFields = document.getElementById('visitor_fields'); // Correct the element id

                for (var i = 1; i <= visitorCount; i++) {
                    currentCount++;
                    var visitorText = document.createElement('p');
                    visitorText.textContent = currentCount;
                    visitorFields.appendChild(visitorText);
                    visitorData.push(currentCount);
                }

                console.log(visitorData);
                submitVisitor(visitorData);
            }

    function submitVisitor(visitorData) {
                var xhr = new XMLHttpRequest();
                var url = '/submitVisitor';
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/json');

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            var pop = "Success";
                            alert(pop);
                            location.reload();

                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            // Handle errors here
                            var errorMessage = "Error occurred while submitting Sec data.";
                            alert(errorMessage);
                        }
                    }
                };

                xhr.send(JSON.stringify(visitorData));
            }
</script>
